<h1>Add a new Item</h1>

<form action="/process_addition" method="post">
  <div>
    <label for="url">Link URL</label>
    <input type="text" name="url" id="url" placeholder="Enter a URL...">
  </div>
  
  <div>
    <label for="description">Link Description</label>
    <input type="text" name="description" id="description" placeholder="Enter a link description...">
  </div>

  <div>
    <label for="thumbnail">Thumbnail URL</label>
    <input type="text" name="thumbnail" id="thumbnail" placeholder="Enter a thumbnail URL...">
  </div>

  <button>Create item</button>
</form>
